body{
    width: 100%;
    height: 100%;
    background-color: wheat;
}
.container{
    width: 100%;
    height: 100px;
}

.bar{
    width: 10%;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: chocolate;
    display: inline-flex;
    align-self: flex-end;
}